<ion-view title="Mobile Phone">
			
	

<ion-content>
		<div class="list card">
			<div class="item">
				<p>Msisdn:             {{mobile.wallets[0].msisdn}}</p>
			</div>
			<div class="item">
				<p>Consumption:             {{mobile.wallets[0].consumption}} {{account.currency}}</p>
			</div>
			<div class="item">
		<ion-list>

	<ion-item ng-repeat="promotion in mobile.promotions" >
	<p>{{promotion.name}}:</p>
    <div class="item range range-positive" >
		
		<i class="icon ion-battery-empty"></i>   
 	  <input type="range" disabled name="{{promotion.maximumValue}}" min="0" max="{{promotion.maximumValue}}" value="{{promotion.remainingUnits}}">
     <i class="icon ion-battery-full"></i>
		</div>

		</ion-item>

					
		</ion-list>
			</div>
	     </div>


</ion-content>
	
</ion-view>
